###############################################################################
# Set default behavior to automatically normalize line endings.
* text=auto
git config -global core.autocrlf false
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
#*.cs     diff=csharp

# Set the merge driver for project and solution files
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (Merging from VS is not affected by the settings below, in VS
# the diff markers are never inserted). Diff markers may cause the following 
# file extensions to fail to load in VS. An alternative would be to treat
# these files as binary and thus will always conflict and require user
# intervention with every merge. To do so, just uncomment the entries below
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary
# behavior for image files
# image files are treated as binary by default.
#*.jpg   binary
#*.png   binary
#*.gif   binary
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.vsconfig filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.tmx filter=lfs diff=lfs merge=lfs -text
*.tsx filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
*.controller filter=lfs diff=lfs merge=lfs -text
*.asmdef filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.TTF filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.shader filter=lfs diff=lfs merge=lfs -text
*.cginc filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.graph filter=lfs diff=lfs merge=lfs -text
/Library/AnnotationManager filter=lfs diff=lfs merge=lfs -text
/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/Library/ArtifactDB-lock filter=lfs diff=lfs merge=lfs -text
/Library/AssetImportState filter=lfs diff=lfs merge=lfs -text
*.dag filter=lfs diff=lfs merge=lfs -text
*.outputdata filter=lfs diff=lfs merge=lfs -text
*.dag_derived filter=lfs diff=lfs merge=lfs -text
*.dag_fsmtime filter=lfs diff=lfs merge=lfs -text
*.state filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.traceevents filter=lfs diff=lfs merge=lfs -text
*.info filter=lfs diff=lfs merge=lfs -text
*.digestcache filter=lfs diff=lfs merge=lfs -text
*.prefs filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.cm filter=lfs diff=lfs merge=lfs -text
*.bhc filter=lfs diff=lfs merge=lfs -text
*.gbc filter=lfs diff=lfs merge=lfs -text
*.dwlt filter=lfs diff=lfs merge=lfs -text
*.signature filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.uss filter=lfs diff=lfs merge=lfs -text
*.uxml filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.2d.animation@8.0.2/Editor/SkinningModule/Lib/x86_64/BoundedBiharmonicWeightsModule.bundle/Contents/MacOS/BoundedBiharmonicWeightsModule filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.2d.animation@8.0.2/Editor/SkinningModule/Lib/x86_64/BoundedBiharmonicWeightsModule.bundle/Contents/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/207A89C76C3730EA filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/43FFF67504C1B77C filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/66B6680AF8A7451D filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/B4B9E3881B00232E filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/D9186C53EA4CD61E filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostlin/dsymutil filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostlin/lld filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostlin/llvm-lipo filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostmac/lld filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.burst@1.7.3/.Runtime/hostmac/llvm-lipo filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.asmref filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.collabattributes filter=lfs diff=lfs merge=lfs -text
*.collabignore filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.ide.visualstudio@2.0.16/Editor/Plugins/AppleEventIntegration.bundle/Contents/MacOS/AppleEventIntegration filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.mathematics@1.2.6/Unity.Mathematics/Noise/LICENSE filter=lfs diff=lfs merge=lfs -text
/Library/PackageCache/com.unity.mathematics@1.2.6/Unity.Mathematics/Noise/README filter=lfs diff=lfs merge=lfs -text
*.ModuleCompilationTrigger filter=lfs diff=lfs merge=lfs -text
*.api filter=lfs diff=lfs merge=lfs -text
*.mm filter=lfs diff=lfs merge=lfs -text
*.unitypackage filter=lfs diff=lfs merge=lfs -text
*.po filter=lfs diff=lfs merge=lfs -text
/Library/PackageManager/ProjectCache filter=lfs diff=lfs merge=lfs -text
*.md5 filter=lfs diff=lfs merge=lfs -text
/Library/ScriptMapper filter=lfs diff=lfs merge=lfs -text
*.index filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.st filter=lfs diff=lfs merge=lfs -text
/Library/ShaderCache/EditorEncounteredVariants filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
/Library/SourceAssetDB-lock filter=lfs diff=lfs merge=lfs -text
*.catalog filter=lfs diff=lfs merge=lfs -text
*.pref filter=lfs diff=lfs merge=lfs -text
/Library/expandedItems filter=lfs diff=lfs merge=lfs -text
*.settings filter=lfs diff=lfs merge=lfs -text
